<% provide(:title, @user.name) %>

<div class="container">
  <section class="user_info">
    <div class="d-none d-md-block pr-5">
      <% if @user.avatar?%>
        <%= image_tag(user.avatar.url, size: "80x80", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% else %>
        <%= image_tag("no_user.png", size: "80x80", class: "rounded-circle z-depth-0", alt: "avatar image") %>
      <% end %>
    </div>
    <p>ユーザーネーム：<%= @user.name %></p>
    <p>自己紹介：<%= @user.introduction %></p>
  </section>
  <% if current_user %>
    <%= link_to edit_user_path, class: "btn btn-primary" do %>
      <i class="fab fa fa-edit"></i> プロフィール編集
    <% end %>
  <% end %>
</div>
