<% provide :title, "新規投稿" %>

<div class="wrapper wrapper__bg">
	<div class="container">
	 	<h1 class="form-title mb-4 text-center">スレッド投稿</h1>
	 	<% if @post.errors.any? %>
	 	  <%= @post.errors.full_messages %>
	 	<% end %>
	 	
    <div class="panel form">
	 	  <%= form_for @post do |f| %>
	 	    <div>
	 	      <div class="form--label">タイトル</div>
	 	      <div class="form--input">
	 	        <%= f.text_field :title, placeholder: "タイトルを入力..." %>
	 	      </div>
	 	    </div>
	 	    <div>
	 	      <div class="form--label">内容</div>
	 	      <div class="form--input">
	 	        <%= f.text_area :caption, placeholder: "記事内容を入力..." %>
	 	      </div>
	 	    </div>
	 	    <%= f.submit "投稿を送信", { class: "btn btn-primary" } %>
	 	  <% end %>
	 	</div>

	</div>
</div>