<% provide :title, "新規投稿" %>

<div class="wrapper wrapper__bg">
	<div class="container">
	 	<h1 class="form-title mb-4 text-center">スレッド投稿</h1>
	 	<% if @post.errors.any? %>
	 	  <%= @post.errors.full_messages %>
	 	<% end %>
	 	
    <div class="form">
	 	  <%= form_for @post do |f| %>

        <div class="field form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力..." %>
        </div>

        <div class="field form-group">
          <%= f.label :caption %><br />
          <%= f.text_area :caption, class: "form-control", placeholder: "記事内容を入力..." %>
        </div>

  			<div class="field form-group">
  			  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
  			    <%= category.label do %>
							<%= category.check_box %>
						  <%= category.text %>
  			    <% end %>
  			  <% end %>
  			</div><br />

	 	    <%= f.submit "投稿を送信", { class: "btn btn-primary" } %>
	 	  <% end %>
	 	</div>
	</div>
</div>
