<% provide :title, "投稿詳細" %>

<div class="wrapper wrapper__bg">

	<div class="container">
	 	<%= link_to "スレッド一覧に戻る", root_url %>
	 	<hr>
	 	<div class="post">
	 	  <h1 class="post--name"><%= @post.title %></h1>
	 	</div>
    <div class="post">
	 	  <p><%= @post.caption %></p>
	 	</div>
	 	<%= link_to "編集する", edit_post_path(@post) %>
	 	<%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
	</div>
</div>